body {
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    width: 100%;
}

.wallpaper {
    width: 100%;
    height: 100%;
    background-image: url(https://raw.githubusercontent.com/thisispivi/Portfolio/148eed5b04d73b11c1cec64a14f9de3e2602d495/img/wallpaper.png);
}

.taskbar {
    background-color: rgba(0, 0, 0, 0.8);
}

.profile {
    width: 7%;
    margin-left: 0.7%;
    margin-right: 0.7%;
}

.hour {
    margin-top: 15%;
}

.folder {
    margin-top: 15%;
    width: 100%;
    margin-bottom: 15%;
}

.profile-image{
    width: 100%;
}

.folder-image {
    position: relative;
}

.info-container {
    position: absolute; 
    margin-top: 22%; 
    margin-left: 30%;
    margin-right: 30%;
}

.title, .name {
    color:white;
}