* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
  font-size: 1rem;
}

#root {
  --dark: #231942;
  --dark-medium: #5e548e;
  --medium: #9f86c0;
  --light-medium: #be95c4;
  --lighter-medium: #cda2d4;
  --light: #e0b1cb;
  --bold: #e279b3;
}

.page {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
  scroll-behavior: smooth;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.section {
  width: 100vw;
  height: 100vh;
  display: flex;
  scroll-snap-align: start;
}

.education {
  .language-icon {
    fill: var(--light);
  }
}

.home {
  .language-icon {
    fill: var(--dark);
  }
}
